In [1]:
import pyspark.sql
from pyspark.sql import SparkSession
from super_secret_password import PASSWORD


# PYSPARK INITALIZE
session = SparkSession.builder.appName('CLI User Interface Test').getOrCreate()

# TODO make a password saver or something

DATABASE_VALUES= {"url": "jdbc:mysql://localhost:3306/creditcard_capstone",
                "table":["CDW_SAPP_BRANCH", "CDW_SAPP_CREDIT_CARD", "CDW_SAPP_CUSTOMER"],
                "mode":"overwrite",
                "properties":{"user":"root", "password":PASSWORD, "driver":"com.mysql.cj.jdbc.Driver"}}

In [2]:
import pyspark.pandas as pd

c:\Users\GzuzC\OneDrive\Documents\Notes\Personal Studies\Workbooks and Worksheets\Python\PerScholas Data Engineering\perscholas_capstone_project\ignore\ETL-capstone-env\lib\site-packages\pyspark\pandas\__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [119]:
import pyspark.sql.functions as F

In [1]:
from capstone_classes import TransactionMenu

In [2]:
tans_test = TransactionMenu()

In [3]:
tans_test.user_values['zip'] = '17201'
tans_test.user_values['transaction-month'] = 'Sep'

In [6]:
print(tans_test.query_one_return())

        SELECT
            CUST_ZIP,
            FIRST_NAME,
            LAST_NAME,
            CREDIT_CARD_NO,
            TRANSACTION_ID,
            TRANSACTION_TYPE,
            TRANSACTION_VALUE,
            TIMEID,
            DATE_FORMAT(TIMEID, 'MMMM')
        FROM credit_customer_df
        WHERE
            CUST_ZIP = 17201
            AND
            YEAR(TIMEID) = 2018
            AND
            DATE_FORMAT(TIMEID, 'MMMM') LIKE("Sep%")
        ORDER BY DAYOFMONTH(TIMEID) DESC;

In [91]:
tans_test.user_values

{'zip': '17201',
 'transaction-month': 'Sep',
 'year': '2018',
 'transaction-type': 'None',
 'transaction-state': 'None',
 'transaction-branch': 'None',
 'table-size': 10}

In [54]:
tans_test.present_stored_user_inputs()

====================
Current Values:
====================
zip: 17201,
transaction-month: sep,
year: 2018,
transaction-type: None,
transaction-state: None,
transaction-branch: None,
table-size: 10

In [98]:
def test(value):

    return f"""{value['zip']}"""

In [99]:
test(tans_test.user_values)

'17201'

In [101]:
def test_two(values):

        return f"""
        SELECT 
            CUST_ZIP,
            FIRST_NAME,
            LAST_NAME,
            CREDIT_CARD_NO,
            TRANSACTION_ID, 
            TRANSACTION_TYPE, 
            TRANSACTION_VALUE, 
            TIMEID,
            DATE_FORMAT(TIMEID, 'MMMM')
        FROM credit_customer_df
        WHERE 
            CUST_ZIP = {values["zip"]}
            AND 
            YEAR(TIMEID) = {values["year"]}
            AND 
            DATE_FORMAT(TIMEID, 'MMMM') LIKE("{values['transaction-month']}%")
        ORDER BY DAYOFMONTH(TIMEID) DESC;"""

In [103]:
print(test_two(tans_test.user_values))

        SELECT
            CUST_ZIP,
            FIRST_NAME,
            LAST_NAME,
            CREDIT_CARD_NO,
            TRANSACTION_ID,
            TRANSACTION_TYPE,
            TRANSACTION_VALUE,
            TIMEID,
            DATE_FORMAT(TIMEID, 'MMMM')
        FROM credit_customer_df
        WHERE
            CUST_ZIP = 17201
            AND
            YEAR(TIMEID) = 2018
            AND
            DATE_FORMAT(TIMEID, 'MMMM') LIKE("Sep%")
        ORDER BY DAYOFMONTH(TIMEID) DESC;

In [92]:
tans_test.user_values['zip']

'17201'

In [104]:
tans_test.query_one(tans_test.user_values)

TypeError: 'str' object is not callable

In [94]:
session.sql(tans_test.query_one(tans_test.user_values))

TypeError: 'str' object is not callable

In [52]:
tans_test.input_month('sep')

====================
Month: Sep Accepted
====================

True

In [100]:
tans_test.present_stored_user_inputs()

====================
Current Values:
====================
zip: 17201,
transaction-month: Sep,
year: 2018,
transaction-type: None,
transaction-state: None,
transaction-branch: None,
table-size: 10

In [27]:


query = """
    SELECT *
    FROM 
    WHERE CUST_ZIP = '17201' AND YEAR(TIMEID) = '2018' AND MONTH(TIMEID) = 'September'
    ORDER BY DAYOFMONTH(cdw_sapp_credit_card.TIMEID) DESC 
"""


# sql_db_df_custom = session.read.format("jdbc").options(
#     driver="com.mysql.cj.jdbc.Driver",
#     user="root",
#     password=PASSWORD,  
#     url=DATABASE_VALUES["url"],
#     dbtable=query).load()

In [8]:

sql_branch_df = session.read.jdbc(
        url=DATABASE_VALUES["url"],
        properties=DATABASE_VALUES["properties"],
        table=DATABASE_VALUES["table"][0]
    )

In [9]:
sql_credit_df = session.read.jdbc(
        url=DATABASE_VALUES["url"],
        properties=DATABASE_VALUES["properties"],
        table=DATABASE_VALUES["table"][1]
    )

In [3]:
sql_customer_df = session.read.jdbc(
        url=DATABASE_VALUES["url"],
        properties=DATABASE_VALUES["properties"],
        table=DATABASE_VALUES["table"][2]
    )

In [ ]:
# filter customer df
# show df
# alter table

In [80]:
columns = ['FIRST_NAME', 'LAST_NAME', 'FULL_STREET_ADDRESS', 'CUST_STATE', 'CUST_ZIP', 'CUST_EMAIL', 'CUST_PHONE', 'CREDIT_CARD_NO', 'SSN']

In [112]:
sql_customer_df.createOrReplaceTempView('specific_customer_df')

In [114]:
query = session.sql(f"""
    SELECT {", ".join(column for column in columns)}
    FROM specific_customer_df
    WHERE
         FIRST_NAME = 'Laurie'
    AND 
        LAST_NAME = 'Burch'
""")

In [ ]:
query.withColumn()

In [116]:
query.createOrReplaceTempView('cust_df_test')

In [115]:
query.show(10)

+----------+---------+-------------------+----------+--------+------------------+------------+----------------+---------+
|FIRST_NAME|LAST_NAME|FULL_STREET_ADDRESS|CUST_STATE|CUST_ZIP|        CUST_EMAIL|  CUST_PHONE|  CREDIT_CARD_NO|      SSN|
+----------+---------+-------------------+----------+--------+------------------+------------+----------------+---------+
|    Laurie|    Burch|  Canal Street, 286|        MD|   20772|LBurch@example.com|(555)1237654|4210653383332703|123451383|
+----------+---------+-------------------+----------+--------+------------------+------------+----------------+---------+

In [95]:
sql_customer_df.printSchema()

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)

In [16]:
import mysql.connector as mariaDb

In [18]:
from super_secret_password import PASSWORD

In [19]:
con = mariaDb.connect(
    host = "localhost",
    user="root",
    password=PASSWORD,
    database="creditcard_capstone"
)

In [38]:
name = 'Laurie2'
name_l = 'Burch2'
SSN = '1383'

In [39]:
str = f"""UPDATE
	cdw_sapp_customer
SET
FIRST_NAME = '{name}', LAST_NAME = '{name_l}' 
WHERE SSN LIKE('%{SSN}')"""

In [51]:
from capstone_functions import query_concat
test_container = {"FIRST_NAME":"Laurie2", "LAST_NAME":"Burch2"}
results = query_concat(test_container, 1383)

FIRST_NAME = 'Laurie2', LAST_NAME = 'Burch2'

            UPDATE
                cdw_sapp_customer
            SET
            FIRST_NAME = 'Laurie2', LAST_NAME = 'Burch2' WHERE SSN LIKE('%1383')

In [52]:
cursor = con.cursor()

In [53]:
cursor.execute(results)

In [54]:
con.commit()

In [5]:
sql_customer_pd = sql_customer_df.pandas_api()

In [86]:
sql_customer_pd[columns[:-1]].head(2)

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP           CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO
0     Laurie     Burch   Canal Street, 286         MD     20772   LBurch@example.com  (555)1237654  4210653383332703
1      Louis    Draper  2nd Street East, 8         FL     32034  LDraper@example.com  (555)1237718  4210653346070342

In [93]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

In [ ]:
F.cast

In [4]:
print("aa".isalnum())

True

In [12]:
customer_pd = sql_customer_pd[['FIRST_NAME', 'LAST_NAME', 'FULL_STREET_ADDRESS', 'CUST_STATE', 'CUST_ZIP', 'CUST_EMAIL', 'CUST_PHONE', 'CREDIT_CARD_NO', 'SSN']]

In [ ]:
SSN = '123451383'

In [43]:
refined_ps_df = customer_pd[(customer_pd['FIRST_NAME'] == 'Laurie') & (customer_pd['LAST_NAME'] == 'Burch')]
refined_ps_df

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP          CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO        SSN
0     Laurie     Burch   Canal Street, 286         MD     20772  LBurch@example.com  (555)1237654  4210653383332703  123451383

In [74]:
import re

In [64]:
refined_ps_df = customer_pd[(customer_pd['FIRST_NAME'] == 'Laurie') & (customer_pd['LAST_NAME'] == 'Burch')]

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP          CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO        SSN
0     Laurie     Burch   Canal Street, 286         MD     20772  LBurch@example.com  (555)1237654  4210653383332703  123451383

In [76]:
re1 = re.search(pattern='1383', string=str(refined_ps_df['SSN'][0]))
re1[0]

'1383'

In [27]:
refined_ps_df = customer_pd[customer_pd['SSN'] == '123451383']
refined_ps_df

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP          CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO        SSN
0     Laurie     Burch   Canal Street, 286         MD     20772  LBurch@example.com  (555)1237654  4210653383332703  123451383

In [25]:
refined_ps_df['FIRST_NAME'] = 'Test'
refined_ps_df

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP          CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO        SSN
0       Test     Burch   Canal Street, 286         MD     20772  LBurch@example.com  (555)1237654  4210653383332703  123451383

In [26]:
refined_ps_df['LAST_NAME'] = 'Bananas'
refined_ps_df

  FIRST_NAME LAST_NAME FULL_STREET_ADDRESS CUST_STATE  CUST_ZIP          CUST_EMAIL    CUST_PHONE    CREDIT_CARD_NO        SSN
0       Test   Bananas   Canal Street, 286         MD     20772  LBurch@example.com  (555)1237654  4210653383332703  123451383

In [11]:
sql_credit_customer_df = sql_customer_df.join(sql_credit_df, sql_customer_df.SSN == sql_credit_df.CUST_SSN)

In [12]:
sql_credit_customer_df = sql_credit_customer_df.drop('CUST_SSN')

In [13]:
sql_credit_customer_df = sql_credit_customer_df.drop(sql_customer_df.CREDIT_CARD_NO)

In [11]:
str = '1234'
print(f"{type((str, ) )}")
print(f"{(str, )}")

<class 'tuple'>
('1234',)

In [240]:
sql_credit_customer_df.printSchema()

root
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: long (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- TIMEID: date (nullable = true)

In [14]:
sql_credit_customer_df.createOrReplaceTempView("credit_customer_df")

In [242]:
transaction_container_query = {"zipcode":"",
                                "type":"",
                                "state":"",
                                "branches":"",
                                "year":"2018",
                                "month":""}

In [16]:
query_one = session.sql(tans_test.query_one_return())

In [17]:
query_one.show()

+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
|CUST_ZIP|FIRST_NAME|LAST_NAME|  CREDIT_CARD_NO|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|    TIMEID|date_format(TIMEID, MMMM)|
+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
|   17201|      Otha| Atkinson|4210653324260789|         17117|           Bills|             1.02|2018-09-28|                September|
|   17201|    Brooke|    Neely|4210653373620931|         14169|             Gas|            73.58|2018-09-28|                September|
|   17201|    Marcel|     Camp|4210653344660822|         46659|   Entertainment|            47.92|2018-09-27|                September|
|   17201|    Elaine|    Moran|4210653389909043|         35368|            Test|           100.52|2018-09-26|                September|
|   17201|    Brooke|    Neely|4210653373620931|         14121|   Entertainment|             12.6|2018-09-26|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13490|            Test|            33.57|2018-09-26|                September|
|   17201|      Otha| Atkinson|4210653324260789|         17181|         Grocery|            32.74|2018-09-25|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13471|             Gas|            70.29|2018-09-23|                September|
|   17201|      Otha| Atkinson|4210653324260789|         17157|             Gas|             93.2|2018-09-23|                September|
|   17201|   Bertram|  Padgett|4210653388487485|         26877|       Education|             16.8|2018-09-22|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13458|         Grocery|            41.78|2018-09-22|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13470|      Healthcare|            77.63|2018-09-20|                September|
|   17201|     Sofia|    Brady|4210653320012911|         44818|             Gas|            29.61|2018-09-20|                September|
|   17201|     Sofia|    Brady|4210653320012911|         44806|         Grocery|            58.58|2018-09-19|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13444|             Gas|            66.47|2018-09-18|                September|
|   17201|    Brooke|    Neely|4210653373620931|         14146|   Entertainment|             51.9|2018-09-16|                September|
|   17201|     Sofia|    Brady|4210653320012911|         44840|             Gas|            22.33|2018-09-15|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13446|           Bills|            27.43|2018-09-14|                September|
|   17201|      Alma|    Russo|4210653358330252|         29028|   Entertainment|             77.6|2018-09-13|                September|
|   17201|      Alma|    Russo|4210653358330252|         29074|      Healthcare|             56.0|2018-09-12|                September|
+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
only showing top 20 rows

In [243]:
transaction_container_query["zipcode"] = '17201'

In [248]:
session.stop()

In [244]:
transaction_container_query['month'] = 'september'.title()

In [245]:
# zipcode 
# month
# year

#  dates
# date_format(date, selection)
# DAYOFMONTH(TIMEID)

transaction_menu_choice_one = session.sql(f"""
    SELECT 
        CUST_ZIP,
        FIRST_NAME,
        LAST_NAME,
        CREDIT_CARD_NO,
        TRANSACTION_ID, 
        TRANSACTION_TYPE, 
        TRANSACTION_VALUE, 
        TIMEID,
        DATE_FORMAT(TIMEID, 'MMMM')
    FROM credit_customer_df
    WHERE 
        CUST_ZIP = {transaction_container_query["zipcode"]}
        AND 
        YEAR(TIMEID) = {transaction_container_query["year"]}
        AND 
        DATE_FORMAT(TIMEID, 'MMMM') LIKE("{transaction_container_query['month']}%")
        

    ORDER BY DAYOFMONTH(TIMEID) DESC; """)

In [246]:
transaction_menu_choice_one.show(10)

+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
|CUST_ZIP|FIRST_NAME|LAST_NAME|  CREDIT_CARD_NO|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|    TIMEID|date_format(TIMEID, MMMM)|
+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
|   17201|      Otha| Atkinson|4210653324260789|         17117|           Bills|             1.02|2018-09-28|                September|
|   17201|    Brooke|    Neely|4210653373620931|         14169|             Gas|            73.58|2018-09-28|                September|
|   17201|    Marcel|     Camp|4210653344660822|         46659|   Entertainment|            47.92|2018-09-27|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13490|            Test|            33.57|2018-09-26|                September|
|   17201|    Brooke|    Neely|4210653373620931|         14121|   Entertainment|             12.6|2018-09-26|                September|
|   17201|    Elaine|    Moran|4210653389909043|         35368|            Test|           100.52|2018-09-26|                September|
|   17201|      Otha| Atkinson|4210653324260789|         17181|         Grocery|            32.74|2018-09-25|                September|
|   17201|      Otha| Atkinson|4210653324260789|         17157|             Gas|             93.2|2018-09-23|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13471|             Gas|            70.29|2018-09-23|                September|
|   17201|    Rickey|  Robbins|4210653374041659|         13458|         Grocery|            41.78|2018-09-22|                September|
+--------+----------+---------+----------------+--------------+----------------+-----------------+----------+-------------------------+
only showing top 10 rows